# Object files
*.o
*.gch
# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Emacs Temps
*~

# Vim Temps
*.swp

.DS_Store

#RPM
BUILD/*
BUILDROOT/*
SRPMS/*

#DEB
debian/authy-open-vpn*

debian/authy-open-vpn*

