Package: authy-open-vpn-1.0
Source: authy-open-vpn
Version: 1.0-1ubuntu1
Architecture: i386
Maintainer: Sebastian Arcila Valenzuela <sebastian@authy.com>
Installed-Size: 57
Depends: libc6 (>= 2.4), libcurl3 (>= 7.16.2), libpam0g (>= 0.99.7.1)
Section: utils
Priority: extra
Description: Authy Open VPN Two-Factor Authentication
 Authy Open VPN provides two plugins for OpenVpn
 * The First one is authy-openvpn.so that is the basic plugin that uses the API
 of authy.com to only use client cert + authy token to authenticate users to
 your vpn.
 * The Second one is pam.so that is the complementary plugin that you could use
 with the auth-openvpn plugin, to use cert + user/pass + token to authenticate
 users to your vpn
