Source: authy-open-vpn
Priority: extra
Maintainer: Sebastian Arcila Valenzuela <sebastian@authy.com>
Build-Depends: debhelper (>= 8.0.0), libc6, libcurl4-openssl-dev, libpam0g-dev:i386, locales
Standards-Version: 3.9.3
Section: libs
Vcs-Git: git://github.com/authy/authy-open-vpn.git
Vcs-Browser: Homepage: https://github.com/authy/authy-open-vpn

Package: authy-open-vpn-1.0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

