Source: authy-open-vpn
Priority: extra
Maintainer: Authy <support@authy.com> 
Build-Depends: debhelper (>= 8.0.0), libc6, libcurl4-openssl-dev, libpam0g-dev, locales
Standards-Version: 3.9.3
Section: utils
Vcs-Git: git://github.com/authy/authy-open-vpn.git
Vcs-Browser: https://github.com/authy/authy-open-vpn

Package: authy-open-vpn
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Authy Open VPN Two-Factor Authentication
 Authy Open VPN provides two plugins for OpenVpn
 * authy-openvpn.so: basic plugin that uses Authy to do two-factor 
   authentication.
 * pam.so: Exact version shipped with openvpn. Only added for convinience.


