Source: authy-open-vpn
Priority: extra
Maintainer: Sebastian Arcila Valenzuela (sarcilav) <sebastian@authy.com>
Build-Depends: debhelper (>= 8.0.0), libc6, libcurl4-openssl-dev, libpam0g-dev, locales
Standards-Version: 3.9.3
Section: utils
Vcs-Git: git://github.com/authy/authy-open-vpn.git
Vcs-Browser: https://github.com/authy/authy-open-vpn

Package: authy-open-vpn-2.0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Authy Open VPN Two-Factor Authentication
 Authy Open VPN provides two plugins for OpenVpn
 * The First one is authy-openvpn.so that is the basic plugin that uses the API
 of authy.com to only use client cert + authy token to authenticate users to
 your vpn.
 * The Second one is pam.so that is the complementary plugin that you could use
 with the auth-openvpn plugin, to use cert + user/pass + token to authenticate
 users to your vpn


